/*	-------------
	General
	------------- */
/*	-------------
	Colorz
	------------- */
/* 	Gray */
/*	-------------
	Font Families
	------------- */
/* line 5, ../../scss/floatlabel/float-label.scss */
.has-float-label {
  display: block;
  position: relative;
}
/* line 7, ../../scss/floatlabel/_floatlabel-mixins.scss */
.has-float-label label, .has-float-label > span {
  position: absolute;
  left: 12px;
  top: 0px;
  cursor: text;
  opacity: 1;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #0054A5;
  padding-top: 8px;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
/* line 10, ../../scss/floatlabel/float-label.scss */
.has-float-label select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* line 17, ../../scss/floatlabel/float-label.scss */
.has-float-label input, .has-float-label select, .has-float-label textarea {
  font-size: 16px;
  line-height: 22px;
  padding: 32px 12px 8px 12px;
  margin-bottom: 2px;
  border: 0;
  border-radius: 0;
  color: #282E34;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  border-bottom: 1px solid #E6E9ED;
  width: 100%;
  background: transparent;
  background-color: transparent;
}
/* line 24, ../../scss/floatlabel/_floatlabel-mixins.scss */
.has-float-label input::placeholder, .has-float-label select::placeholder, .has-float-label textarea::placeholder {
  opacity: 1;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
/* line 28, ../../scss/floatlabel/_floatlabel-mixins.scss */
.has-float-label input:placeholder-shown:not(:focus)::placeholder, .has-float-label select:placeholder-shown:not(:focus)::placeholder, .has-float-label textarea:placeholder-shown:not(:focus)::placeholder {
  opacity: 0;
}
/* line 34, ../../scss/floatlabel/_floatlabel-mixins.scss */
.has-float-label input:placeholder-shown:not(:focus) + *, .has-float-label select:placeholder-shown:not(:focus) + *, .has-float-label textarea:placeholder-shown:not(:focus) + * {
  font-size: 125%;
  opacity: 1;
  color: #AAB2BD;
  font-weight: normal;
  letter-spacing: -1px;
  background-color: transparent;
  top: .25em;
  padding-top: 12px;
}
/* line 36, ../../scss/floatlabel/float-label.scss */
.has-float-label input:focus, .has-float-label select:focus, .has-float-label textarea:focus {
  outline: none;
  border-bottom-color: transparent;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 12px 24px -6px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 12px 24px -6px rgba(0, 0, 0, 0.16);
  -o-box-shadow: 0px 12px 24px -6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 12px 24px -6px rgba(0, 0, 0, 0.16);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 45, ../../scss/floatlabel/float-label.scss */
.has-float-label textarea {
  width: 100%;
}
/* line 47, ../../scss/floatlabel/float-label.scss */
.has-float-label textarea:focus {
  height: 120px;
}
/* line 52, ../../scss/floatlabel/float-label.scss */
.has-float-label select {
  padding-right: 1em;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.5em bottom 0.25em;
  background-size: 8px 10px;
}
