/*	-------------
	General
	------------- */
/*	-------------
	Colorz
	------------- */
/*	-------------
	Font Families
	------------- */
/* line 1, ../../../src/scss/library/_page-flow.scss */
.page-flow-container {
  padding-left: 30px;
}

/* line 4, ../../../src/scss/library/_page-flow.scss */
.page-flow {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 0;
}

/* line 12, ../../../src/scss/library/_page-flow.scss */
.page-flow-item {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  color: #656D78;
}

/* line 18, ../../../src/scss/library/_page-flow.scss */
.page-flow-item:not(:first-child):before {
  content: '/';
  color: #484848;
  display: inline-block;
  position: relative;
  font-size: 14px;
  font-weight: 400;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

/* line 28, ../../../src/scss/library/_page-flow.scss */
.page-flow-item > a {
  position: relative;
  display: block;
  color: #FFFFFF;
}

/* line 33, ../../../src/scss/library/_page-flow.scss */
.page-flow-item > a:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: transparent;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

/* line 45, ../../../src/scss/library/_page-flow.scss */
.page-flow-item > a:hover:after {
  visibility: visible;
  background-color: #FFFFFF;
  opacity: 1;
}

/* line 8, ../../../src/scss/library/_menu.scss */
.menu-item {
  display: block;
  position: relative;
  width: 100%;
  margin: 4px 0;
}

/* line 14, ../../../src/scss/library/_menu.scss */
.menu-item-group {
  padding-top: 15px;
}

/* line 17, ../../../src/scss/library/_menu.scss */
.menu-item-group > .title {
  position: relative;
  margin-bottom: 10px;
  margin-top: 7.5px;
}

/* line 22, ../../../src/scss/library/_menu.scss */
.menu-item-group > .title > h3 {
  display: inline-block;
  background-color: #F5F5F5;
  position: relative;
  font-size: 12px;
  line-height: 18px;
  color: #656D78;
  font-weight: 500;
  padding-right: 15px;
}

/* line 32, ../../../src/scss/library/_menu.scss */
.menu-item-group > .title:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: #EAEBEC;
}

/* line 43, ../../../src/scss/library/_menu.scss */
.menu-link > a {
  display: grid;
  grid-template-columns: 32px auto minmax(32px, 64px);
  justify-items: start;
  align-items: center;
  color: #121212;
  padding: 6px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 54, ../../../src/scss/library/_menu.scss */
.menu-link > a > .icon {
  font-size: 32px;
  line-height: 32px;
  color: #656D78;
}

/* line 59, ../../../src/scss/library/_menu.scss */
.menu-link > a > .name {
  padding-left: 10px;
  line-height: 32px;
  font-size: 15px;
}

/* line 64, ../../../src/scss/library/_menu.scss */
.menu-link > a > .badge {
  justify-self: end;
  background-color: #AAB2BD;
  padding: 5px 6px;
  color: #FFFFFF;
  font-family: "SF Mono", SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-weight: 400;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
}

/* line 75, ../../../src/scss/library/_menu.scss */
.menu-link > a:hover {
  background-color: #EAEBEC;
}

/* line 78, ../../../src/scss/library/_menu.scss */
.menu-link > a:hover .icon {
  color: #242424;
}

/* line 81, ../../../src/scss/library/_menu.scss */
.menu-link > a:hover .name {
  color: #121212;
}

/* line 84, ../../../src/scss/library/_menu.scss */
.menu-link > a:hover .badge {
  background-color: #0070E0;
}

/* line 88, ../../../src/scss/library/_menu.scss */
.menu-item .menu-link > a.link-active,
.menu-item .menu-link > a.link-active:hover {
  background-color: #DEDEDE;
  font-weight: 600;
}

/* line 94, ../../../src/scss/library/_menu.scss */
.menu-item .menu-link > a.link-active .icon,
.menu-item .menu-link > a.link-active:hover .icon {
  color: #242424;
}

/* line 98, ../../../src/scss/library/_menu.scss */
.menu-item .menu-link > a.link-active .name,
.menu-item .menu-link > a.link-active:hover .name {
  color: #121212;
}

/* line 103, ../../../src/scss/library/_menu.scss */
.menu-item .menu-link > a.link-active .badge,
.menu-item .menu-link > a.link-active:hover .badge {
  background-color: #0070E0;
}

/* line 1, ../../../src/scss/library/_medium-editor.scss */
.mediumeditor {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 15px;
  line-height: 22px;
  padding: 15px;
}

/* line 7, ../../../src/scss/library/_medium-editor.scss */
.mediumeditor:focus {
  color: #121212;
}

/* line 10, ../../../src/scss/library/_medium-editor.scss */
.mediumeditor h2 {
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 10px;
  font-weight: bold;
}

/* line 16, ../../../src/scss/library/_medium-editor.scss */
.mediumeditor h3 {
  font-size: 21px;
  line-height: 34px;
  margin-bottom: 7.5px;
  font-weight: bold;
}

/* line 22, ../../../src/scss/library/_medium-editor.scss */
.mediumeditor ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-bottom: 15px;
}
