/*	-------------
	General
	------------- */
/*	-------------
	Colorz
	------------- */
/*	-------------
	Font Families
	------------- */
/* shorthand for commonly used scripts */
/* line 1, ../../../src/scss/pages/_page-menu.scss */
.page-menu {
  max-width: 800px;
  margin: 0 auto;
}

/* line 5, ../../../src/scss/pages/_page-menu.scss */
.page-menu > .fix-list-group-wrapper {
  width: 100%;
}
